
@font-face {font-family: "hui";
  src: url('iconfont.eot?t=1489818276041'); /* IE9*/
  src: url('iconfont.eot?t=1489818276041#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1489818276041') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1489818276041') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1489818276041#hui') format('svg'); /* iOS 4.1- */
}

.hui {
  font-family:"hui" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hui-unie60b:before { content: "\e6a4"; }

