@charset "utf-8";
body {
  background-color: #99d6f3;
  color: aliceblue;
  font-family: "微软雅黑";
}
.text-center {
  text-align: center;
}
.link {
  font-size: 14px;
  color: #666666;
}
.link:hover {
  color: #fa7d3c;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.mg-r-5 {
  margin-right: 5px;
}
.mg-r-8 {
  margin-right: 8px;
}
.text-o-h {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
