body {
	padding: 0;
}

.subnav {
	font-size: 20px;
}


/*页眉*/

.icon-tubiaozhizuomoban-copy {
	margin: 10px 0px 4px 11px;
	font-size: 28px;
}


/*颈部 上次游戏*/

.subnav {
	margin: 54px 0 0 0;
	color: #8C8C8C;
	font-size: 16px;
	line-height: 3rem;
	text-align: center;
	border: solid 1px #DCDCDC;
	background-color: white;
}

.icon-xiangyou {
	margin-right: 1vw;
	color: #CCCCCC;
	font-size: 20px;
}


/*中间部分*/

main {
	margin: 10px 0 0 0;
	background-color: white;
	border: solid 1px #DCDCDC;
}

.title {
	height: 3rem;
	text-align: center;
	font-size: 22px;
	color: #FAA732;
	line-height: 3rem;
	border-bottom: solid 1px #FAA732;
}

.menu {
	position: relative;
}

.title-sm a {
	color: white;
}
.title-sm {
	height: 4rem;
	margin: 20px 3rem 0;
	text-align: center;
	font-size: 20px;
	line-height: 4rem;
	color: white;
	background-color: #6dd2e9;
}
.submenu p {
	font-size: 14px;
	text-align: center;
	margin-bottom: 0;
	color: #8C8C8C;
}
.submenu button {
	border: none;
	font-size: 20px;
	color: white;
	background-color: #6dd2e9;
}
.icon-right {
	position: absolute;
	top: 41%;
	right: 0.5vw;
	font-size: 2.5rem;
	color: #FAA732;
}
.icon-xiangzuo1{
	position: absolute;
	top: 41%;
	left: 0.5vw;
	font-size: 2.5rem;
	color: #FAA732;
}


/*四个小点*/

.scroll {
	width: 6rem;
	height: 2rem;
	margin: 1vh auto;
	padding-top: 0.5rem;
}

.scroll div {
	float: left;
	margin: 0.2rem 0.3rem 0 0.4rem;
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;
	background-color: #DCDCDC;
}

.scroll div:hover {
	background-color: #5AC0CE;
}